# CARPETAS LOCALES
/data/
/logs/

# Variables de entorno
.env

# Archivos temporales y del sistema
.DS_Store
Thumbs.db
*.tmp
*.temp

# Jupyter
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo

# Carpetas de IDE
.vscode/
.idea/
*.swp
*.swo
